.order{
    background-image: url(/images/best-burger-background.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.order-details{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin:10px ;
    box-shadow: 7px 4px rgba(1, 5, 5, 0.2);
}
.btn-order{
    padding: 3px 80px;
    border-radius: 20px;
    color: white;
    border: 0px;
    font-size: medium;
    background-color: rgb(0, 110, 255);
}
